extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 Technical-test-backend
  p Routes: 
  p - Insert population data (POST) /stat
  p - Population by city (its last record) and age (GET) /stats
  p - Population by city (GET) /stat/:city  - ( example:/stat/Madrid )
  p - Population by all ages (GET) /statbyages
  p - Population by cities (of all time) (GET) /statbytime